groups:
  - name: Essential Tools
    apt:
      - git
      - curl
      - wget
    
  - name: Development Tools
    apt:
      - vim
      - build-essential
      - jq
    
  - name: GitHub CLI
    ppa:
      - name: "gh-cli"
        uri: "https://cli.github.com/packages"
        key: https://cli.github.com/packages/githubcli-archive-keyring.gpg
        suites: stable
        pkgs: ["gh"]
    brew:
      - gh